@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #E1F4FF;
	text-align: center;
	color: black;
}

#slogan {
	font-style: italic;
}

a {
	text-decoration: none;
}
h1 {
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	font-weight: bold;
}
